<div class="container">
    <div class="row">
        <div class="col-md-12 controls">
            <a href="/things/new" class="btn btn-primary">New Thing +</a>
            <hr / >
        </div>
    </div>


    <%= render(
      partial: 'things/list',
      locals: { things: @things }
    ) %>



    <div class="row">
        <div class="col-md-12">
            <a href="/things/new" class="btn btn-primary">New Thing +</a>
        </div>
    </div>

</div>


