body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 60px;
}

.content{
	padding-top:80px;
}





.thing-card{
	position:relative;
}
.thing-card img{
	width:100%;

}

.thing-small img{
	width:100%;
}




.thing-show .thing-panel .panel-body{
	text-align:center;
}
.thing-show .thing-panel img{
	max-width:100%;

}



.btn.votecreative{
	background:#826D9B;
}
.btn.votecreative:hover,
.btn.votecreative.voted{
	background:#5515A2;

}


.btn.votebeautiful{
	background:#A6735C;

}
.btn.votebeautiful:hover,
.btn.votebeautiful.voted{
	background:#C33D00;

}

.btn.voteinspiring{
	background:#A87990;

}
.btn.voteinspiring:hover,
.btn.voteinspiring.voted{
	background:#A0004F;
}